html {
    background-image: url(images/papyrus.png);
}

main {

    font-family: Lucida, sans-serif;
    text-align: center;
}

header {
    background-image: url(images/mountains.jpeg);
    background-position: left;
    background-size: cover;
    margin: 0px;
    color: black;
    text-shadow: 0 0 3px lightgray, 0 0 10px white;
    text-align: center;
}

/* RESPONSIVE NAVIGATION */
nav {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    padding-left: 0;
    padding-top: 0px;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    margin: 0 30px 0 20px;
    padding-top: 0px;
}

/* GENERAL */
section {
    margin: 10px;
}

h1, h2, h3, form label {
    font-family: Courier New, monospace;
}

h1 {
    font-size: 50px;
    margin-bottom: 0px;
    text-transform: uppercase;
}

h2 {
    font-size: 30px;
    margin-top: 0px;
}

h3 {
    font-size: 20px;
}

ul {
    list-style-type: none;
    padding: 0px;
}

hr {
    border: 1px solid black;
    margin: 50px;
}

/* FORM */
form label {
    display: block;
    font-size: 18px;
    margin-top: 7px;
    margin-bottom: 5px;
    font-weight: bold;
}

form textarea {
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
}

form input[type=text], form input[type=email] {
    width: 100%;
}

/* FLEXBOX */
.project {
    min-width: 25%;
}

.group {
    display: flex;
    flex-direction: column;
}

.item {
    flex: 1;
    margin: 10px;
    padding: 0px;
    vertical-align: center;
}

.item-double-width {
    flex: 2;
}

.item-triple-width {
    flex: 3;
}

.item-width-primary {
    flex: 5;
}

/* IMAGES */
img {
    max-width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    align-items: center;
}

img.no-border {
    border: 0px;
}

img.icon {
    max-height: 50px;
}

/* OTHER CLASSES */
.contact-form {
    margin-top: 50px;
}

.bg-dark {
    background-image: url(images/darkness.png);
    opacity: 75%;
    color: white;
    padding-top: 25px;
}

/* FOR LARGE SCREENS - RESPONSIVE DESIGN */
@media all and (min-width: 800px) {
    section {
        padding: 0;
    }
    
    form textarea {
        width: 35%;
    }
    
    form input[type=text], form input[type=email] {
        width: 25%;
    }
    
    nav {
        justify-content: left;
    }

    .group {
        flex-flow: row wrap;
    }

    .narrow-width {
        width: 25%;
    }

    .left-align {
        text-align: left;
        margin-left: 5%;
    }
}